<h4 class="ui center aligned medium icon header">
  <i class="circular purple wechat icon"></i>
  Say something
</h4>

<%# TODO: figure out padding under navigation bar %>
<div class="ui two column grid">
  <div class="twelve wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content" id="messages">
        <div class="ui feed" id="chat-container">
          <%= render @messages %>
        </div>
      </div>      
      <div class="extra content">
        <%= form_for(@message, html: {class: "ui reply form", forle: "form"}, url: message_path, remote: true) do |f| %>
          <div class="field">            
            <div class="ui icon input">              
              <%= f.text_field :body %>
              <%= f.button '<i class="bordered inverted purple edit icon"></i>'.html_safe %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="four wide small column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui inverted vertical menu">
          <a class="item">
            Home
          </a>
          <a class="item">
            Messages
          </a>
          <a class="item">
            Friends
          </a>
        </div>
      </div>
    </div>
  </div>
  
</div>
