<h4 class="ui center aligned medium icon header">
  <i class="circular purple wechat icon"></i>
  Say something
</h4>

<%# TODO: figure out padding under navigation bar %>
<div class="ui two column grid">
  <div class="twelve wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui feed">
          <% @messages.each do |message| %>
            <div class="event">
              <div class="content">
                <div class="summary">
                  <%= User.find(message.user_id).username %>: <em><%= message.body %></em>
                </div>
              </div>
            </div>            
          <% end %>          
        </div>
      </div>      
      <div class="extra content">
        <form class="ui reply form">
          <div class="field">            
            <div class="ui icon input">              
              <input type="text" placeholder="Search...">
              <i class="bordered inverted purple edit icon"></i>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="four wide small column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui inverted vertical menu">
          <a class="item">
            Home
          </a>
          <a class="item">
            Messages
          </a>
          <a class="item">
            Friends
          </a>
        </div>
      </div>
    </div>
  </div>
  
</div>
