<%= link_to 'Chatroom', root_path, class: "item" %>

<a class="item">
  Messages
</a>
<div class="right menu">  
  <% if logged_in? %> 
    <div class="ui dropdown item">
      <%= @current_user.username %>
      <div class="menu">
        <%= link_to "Log out", logout_path, method: :delete, class: "item "%>     
      </div>
    </div>
  <% end %>
</div>
